@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");


body {
    display: flex;
    gap: 6px;
    background: white;
    padding: 3% 6%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: normal;
    color: black;
    flex-direction: column;
    align-items: flex-start;
}

#filmes {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}